body {
    text-align: center;
    margin: 0;
    padding: 0;
}

hr {
    width: 600px;
    height: 2px;
    background-color: red;
}

body > div {
    width: auto;
}

.gridSizeButtons > button {
    width: 150px;
    height: 40px;
    font-size: 1em;
    line-height: 40px;
}

.gridSizeButtons {
    margin-bottom: 50px;
}

button {
    height: 100px;
    width: 100px;
    vertical-align: top;
    line-height: 100px;
    font-size: 3em;
}

.inner {
    height: 100px;
    width: 100px;
    float: left;
    float: right;
}

.activeButton {
    background-color: gray;
    cursor: pointer;
}

.disabledButton {
    background-color: whitesmoke;
    color: brown;
}

.green {
    color: green;
}